token: "<TOKEN>"
admins: <admin>
 
# API tokens required for speech recognition
speech_api:
    # Microsoft (Bing) speech recognition token
    # API key can be obtained from
    # https://azure.microsoft.com/en-us/try/cognitive-services/
    bing: "VOICE_RECOGNITION_TOKEN"
    # Baidu speech recognition token
    # API key can be obtained from
    # http://yuyin.baidu.com/
    baidu:
        app_id: 123456
        api_key: "API_KEY_GOES_HERE"
        secret_key: "SECRET_KEY_GOES_HERE"
        
flags:
    option_one: 10
    option_two: false
    option_three: "foobar"